@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
 * {font-family: 'Roboto', sans-serif;}

 body {
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px; 
}
.post {
	background-color: white;
	width: 700px;
	height:100vh;
	margin: 40px;
}
.post-header{display:flex; justify-content:space-between}
.user-container {
align-items:center; display:flex; width: 400px; 
}
* {
margin: 0px;
padding: 0px; }

.profile-img {
	width: 40px;
	height: 40px;
	border-radius: 30px;
	display:flex;
	justify-content: left;
}


.post-actions {display:flex;padding:10px;margin:10px ;justify-content:space-between; align-items:center}
